Source: golang-testify
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Jelmer Vernooĳ <jelmer@debian.org>,
           Anthony Fok <foka@debian.org>,
           Martina Ferrari <tina@debian.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any (>= 2:1.20~),
               golang-github-davecgh-go-spew-dev (>= 1.1.1),
               golang-github-pmezard-go-difflib-dev (>= 1.0.0),
               golang-github-stretchr-objx-dev (>= 0.5.0),
               golang-gopkg-yaml.v3-dev (>= 3.0.1)
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-testify
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-testify.git
Homepage: https://github.com/stretchr/testify
XS-Go-Import-Path: github.com/stretchr/testify

Package: golang-github-stretchr-testify-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-github-davecgh-go-spew-dev (>= 1.1.1),
         golang-github-pmezard-go-difflib-dev (>= 1.0.0),
         golang-github-stretchr-objx-dev (>= 0.5.0),
         golang-gopkg-yaml.v3-dev (>= 3.0.1),
         ${misc:Depends}
Description: sacred extension to the standard Go testing package
 Testify is a Go code (golang) set of packages that provide many tools for
 testifying that code behaves as intended.
 .
 Features include:
  * Easy assertions
  * Mocking
  * HTTP response trapping
  * Testing suite interfaces and functions
 .
 This package contains the source.
